
@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "EditRole";
}



<h2>Redigera en roll</h2>

@Html.ActionLink("Lista roller", "Index") | @Html.ActionLink("Hantera roller", "ManageRoles")

<hr style="border-color: #777;" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)

    <div>
        Roll
    </div>

    <p>
        @Html.TextBoxFor(model => model.Name)
    </p>

    <input type="submit" value="Save" />
}

<br />
