@using ScrumProj.Models.ViewModels
@model ScrumProj.Models.ViewModels.DevelopmentViewModel

@if (User.Identity.IsAuthenticated)
{
    ViewBag.Title = "DevelopmentWork";
    Layout = "~/Views/Shared/_navbarSignedIn.cshtml";

}

<h2>Skapa nytt projekt</h2>


<div class="row">

    <div class="col-sm-4">
        <div class=" col-8, text-white bg-secondary mb-3" style="max-width: 20rem;border: 1px solid white;">
            @using (Html.BeginForm("Developmentwork", "Development", FormMethod.Post, new { enctype = "multipart/form-data" }))

            {
                @Html.AntiForgeryToken();
                <div class="card-body">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.project.Title, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.project.Title, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.project.Cat)
                        @Html.DropDownListFor(m => m.project.Cat, new SelectList(Enum.GetValues(typeof(DevelopmentViewModel.Category))), " ", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect2">Bjud in (markera flera)</label>
                        <select multiple="" class="form-control" id="exampleSelect2">
                            @*@foreach () {*@
                            <option>en anställd</option>
                            @*}*@
                        </select>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.project.Content, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.project.Content, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input type="submit" value="Skapa projekt" class="btn btn-info" />
                    </div>

                </div>
            }
        </div>

    </div>

    <div class="col-sm-8">
        <div class="text-white bg-secondary mb-3" style="max-width: 40rem; border: 1px solid white;">
            <div class="card-body">
                @*@foreach (projekt in projektgrajjor)
                    {*@
                <h2 class="card-title">Projekt titel</h2>

                <h4 class="card-title">Forskning/Utbildning</h4>
                <p class="card-text">I det här projekt finner vi information om bla bla bla bla utforska bla bla bla bla, empiriska studien bla bla bla.</p>
                <a href="#" class="card-link">Visa projekt</a>
                @*}*@
            </div>
        </div>
    </div>
</div>
