@model ScrumProj.Models.EntryViewModel
@if(User.Identity.IsAuthenticated){
    ViewBag.Title = "Blogpage";
    Layout = "~/Views/Shared/_navbarSignedIn.cshtml";

}

<div class="row">
    <div class="col-md-4">
        <h2>Formella blogg</h2>
        @if (Model.ListOfEntriesToLoopInBlogView != null || Model.ListOfEntriesToLoopInBlogView.Count > 0)
        {
            foreach (var FormalEntry in Model.ListOfEntriesToLoopInBlogView)
            {
        <div class="card mb-1">
            <h3 class="card-header">@FormalEntry.entry.Title</h3>
            <h5 class="card-header">@Model.loggedInUser.FirstName @Model.loggedInUser.LastName</h5>
            <div class="card-body, height:100px">
            </div>
            @if(FormalEntry.entry.image != null)
            {
            <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
            }
            <div class="card-body">
                <p class="card-text">@FormalEntry.entry.Content</p>
            </div>
            @if (FormalEntry.File != null)
            {
                @Html.ActionLink(FormalEntry.File.FileName, "DownLoadFile", new { id = FormalEntry.File.FileId })
            }
            <a href="#" class="card-link">Redigera inlägg</a>
            @Html.ActionLink("Ta bort inlägg", "DeleteEntry", new { postId = FormalEntry.entry.Id});

            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Kommentera</label>
                <input type="text" class="form-control" id="inputDefault">
            </div>
        </div>
            }
        }


    </div>

    <link href="~/Content/Site.css" rel="stylesheet" />
    @using (Html.BeginForm("PublishEntry", "Entry", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-md-4">
            <h2>Skriv inlägg</h2>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Titel</label>
                @Html.TextBoxFor(u=> u.entry.Title, new { @class="form-control", id="inputDefault"})
            </div>
            <div class="form-control-static panel-primary">
                <div class="form-group">
                    <div>
                        @Html.TextAreaFor(u => u.entry.Content, new { @class = "form-control", @rows = "3", @style = "width"})
                    </div>
                </div>
                <label for="exampleInputFile">Bifoga</label>
                <div class="form-group">
                    <div>
                        <input type="file" id="newFile" name="newFile" />
                        <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input type="submit" value="Submit" class="btn btn-info" style="float:right" />
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="col-md-4">
        <h2>Informell blogg</h2>
    </div>

</div>


