<!-- Horizontal, rounded -->
@model ScrumProj.Models.ViewModels.MeetingViewModel

<div class="container horizontal rounded" style="width: 20%">
    <h2>Horizontal, Rounded</h2>
    @foreach (var t in Model.DicTimes)
    {
        <div class="progress-bar horizontal">
            <div class="progress-track">
                <div class="progress-fill">
                    <label style="float: left">@t.Key</label>
                    <p class="invisible">@t.Value%</p>
                    <span class=" bg-danger"></span>
                </div>
            </div>
        </div>
    }
</div>

@using (Html.BeginForm("Vote", "Profile"))
{
    foreach (var t in Model.DicTimes)
    {
        <div>
            <label>@t.Key</label>
            <input type="radio" name="SelectedTime" id="SelectedTime" value="@t.Key" tabindex="10" />
        </div>
        }

    @Html.TextBoxFor(j => j.Times.Id, new { @class = "invisible" })
    <input type="submit" value="Välj en tid som passar" class="btn btn-success" tabindex="17" />
}


@section scripts {
    <script>
        $('.horizontal .progress-fill p').each(function () {
            var percent = $(this).html();
            $(this).parent().css('width', percent);
        });


        $('.vertical .progress-fill p').each(function () {
            var percent = $(this).html();
            var pTop = 100 - (percent.slice(0, percent.length - 1)) + "%";
            $(this).parent().css({
                'height': percent,
                'top': pTop
            });
        });
    </script>
}
<style>

    .horizontal .progress-bar {
        float: left;
        height: 45px;
        width: 100%;
        padding: 12px 0;
    }

    .progress-bar {
        width: 70%;
        background-color:inherit;
    }

    .horizontal .progress-track {
        position: relative;
        width: 100%;
        height: 20px;
        border:hidden;
    }

    .horizontal .progress-fill {
        position: relative;
        background: #5cb85c;
        height: 20px;
        width: 50%;
        color: #fff;
        text-align: center;
        font-family: "Lato","Verdana",sans-serif;
        font-size: 12px;
        line-height: 20px;
    }

    .rounded .progress-track,
    .rounded .progress-fill {
        border-radius: 3px;
    }
</style>